<div id="aboutme" class="part">
  <div class="mt-5 mb-5 header" >ABOUT ME.</div>
  <div class="container about-text">
    I'm a full-stack web developer based in Tokyo, Japan. Hands-on experience on <strong>Ruby on Rails</strong>, <strong>React</strong> and <strong>Javascript</strong>, dabbing in <strong>Node.js</strong>.
    In the future looking forward to learning Python and R, and do some cool stuff with data.
    <br>
    <br>
    Little bit of a China buff, studied the Chinese economy and law in grad schools.  Would like to think all that time spent in school left me with a strong analytical mindset.
    <br>
    <br>
    For enjoyment I like watching combat sports, especially boxing. My greatest passion in life is eating food. I like pretty much everything from hamburgers, pizzas, ramens to cassoulets and boeuf bourguignons.
  </div>
</div>
