  <div class="footer">
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex align-items-center">
        <%= link_to "", "https://github.com/Steve-Jobless", class: "fab fa-github link-icon", target: "_blank", style:"font-size:40px; margin:5px;" %>
        <%= link_to "", "https://www.linkedin.com/in/galym-parpiyev/", class: "fab fa-linkedin link-icon", target: "_blank", style:"font-size:40px; margin:5px;" %>
      </div>
    </div>
  </div>
