.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  height: 300px;
  width: 390px;
  position: relative;
  transition: all ease-in-out 1s;

}

a{
    text-decoration: none;
    color: black;
  }

a:hover{
    text-decoration: none;
    color: black;
  }


.card-trip > img {
  height: 300px;
  width: 390px;
  object-fit: cover;
}


.card-trip:hover{
  img{
    opacity: 10%;
    transition: all ease-in-out 0.75s;

  }
  .modal-button{
    display: inline-block;
  }
  .name{
    display: inline-block;
  }
  .tech-list{
    display: inline-block;
  }
}

.modal-button{
  position: absolute;
  display: none;
  z-index: 1;
  left: 125px;
  bottom:30px;
  transition: all ease-in-out 0.25s;
  border: 2px solid #e21a6d;
  color: black;


}

.modal-button:hover{
  background-color: #e21a6d;
  border: 2px solid #e21a6d;
}


.name{
  position: absolute;
  display: none;
  z-index: 1;
  // left: 125px;
  top:30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.tech-list{
  font-size: 50px;
  position: absolute;
  // left:125px;
  top:100px;
  display: none;
  color: #e21a6d;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.carousel-inner img{
  width: auto;
  height: 423.914px;
  max-height: 423.914px;
}
