.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  height: 300px;
  width: 390px;
  position: relative;
}

a{
    text-decoration: none;
    color: black;
  }

a:hover{
    text-decoration: none;
    color: black;
  }




.card-trip > img {
  height: 300px;
  width: 390px;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip:hover{
  img{
    opacity: 10%;
  }
  .modal-button{
    display: inline-block;
  }
  .name{
    display: inline-block;
  }
  .tech-list{
    display: inline-block;

  }
}

.modal-button{

  position: absolute;
  display: none;
  z-index: 1;
  left: 125px;
  bottom:30px
}

.name{
  position: absolute;
  display: none;
  z-index: 1;
  left: 125px;
  top:30px
}

.tech-list{
  font-size: 50px;
  position: absolute;
  left:125px;
  top:100px;
  display: none;
}
