<div class="front">
  <div class="front-text">
      <h1>Hi, I am Galym,</h1>
      <h2>a full-stack developer.</h2>
  </div>
</div>

<div>
  <div id="navbar">
  <a href="#aboutme">About me</a>
  <a href="#projects">Projects</a>
  <a href="#contact">Contact</a>
</div>
    <%= partial "partials/aboutme" %>
    <%= partial "partials/projects" %>
    <%= partial "partials/contact" %>
    <%= partial "partials/footer" %>


</div>
